
.icon-search:before { content: '\e800'; } /* '' */
.icon-mail:before { content: '\e801'; } /* '' */
.icon-mail-alt:before { content: '\e802'; } /* '' */
.icon-bookmark:before { content: '\e803'; } /* '' */
.icon-flag:before { content: '\e804'; } /* '' */
.icon-edit:before { content: '\e805'; } /* '' */
.icon-comment:before { content: '\e806'; } /* '' */
.icon-chat:before { content: '\e807'; } /* '' */
.icon-comment-empty:before { content: '\e808'; } /* '' */
.icon-chat-empty:before { content: '\e809'; } /* '' */
.icon-attention:before { content: '\e80a'; } /* '' */
.icon-file-pdf:before { content: '\e80b'; } /* '' */
.icon-rss:before { content: '\e80c'; } /* '' */
.icon-menu:before { content: '\e80d'; } /* '' */
.icon-cog-1:before { content: '\e80e'; } /* '' */
.icon-cog-alt:before { content: '\e80f'; } /* '' */
.icon-sliders:before { content: '\e810'; } /* '' */
.icon-calendar:before { content: '\e811'; } /* '' */
.icon-down-open:before { content: '\e812'; } /* '' */
.icon-left-open:before { content: '\e813'; } /* '' */
.icon-up-open:before { content: '\e814'; } /* '' */
.icon-angle-double-left:before { content: '\e815'; } /* '' */
.icon-angle-double-right:before { content: '\e816'; } /* '' */
.icon-sort-up:before { content: '\e817'; } /* '' */
.icon-cubes:before { content: '\e818'; } /* '' */
.icon-brush:before { content: '\e819'; } /* '' */
.icon-user:before { content: '\e81a'; } /* '' */
.icon-user-add:before { content: '\e81b'; } /* '' */
.icon-info-circled:before { content: '\e81c'; } /* '' */
.icon-cog:before { content: '\e81d'; } /* '' */
.icon-down-open-1:before { content: '\e81e'; } /* '' */
.icon-left-open-1:before { content: '\e81f'; } /* '' */
.icon-right-open-1:before { content: '\e820'; } /* '' */
.icon-up-open-1:before { content: '\e821'; } /* '' */
.icon-arrows-ccw:before { content: '\e822'; } /* '' */
.icon-globe:before { content: '\e823'; } /* '' */
.icon-chart-line:before { content: '\e824'; } /* '' */
.icon-twitter-1:before { content: '\e825'; } /* '' */
.icon-facebook:before { content: '\e826'; } /* '' */
.icon-linkedin:before { content: '\e827'; } /* '' */
.icon-users-outline:before { content: '\e828'; } /* '' */
.icon-user-add-outline:before { content: '\e829'; } /* '' */
.icon-user-add-1:before { content: '\e82a'; } /* '' */
.icon-home:before { content: '\e82b'; } /* '' */
.icon-edit-1:before { content: '\e82c'; } /* '' */
.icon-cog-outline:before { content: '\e82d'; } /* '' */
.icon-cog-2:before { content: '\e82e'; } /* '' */
.icon-lightbulb:before { content: '\e82f'; } /* '' */
.icon-flow-merge:before { content: '\e830'; } /* '' */
.icon-puzzle:before { content: '\e831'; } /* '' */
.icon-twitter:before { content: '\e832'; } /* '' */
.icon-download:before { content: '\e833'; } /* '' */
.icon-chat-1:before { content: '\e834'; } /* '' */
.icon-spread:before { content: '\e835'; } /* '' */
.icon-acrobat:before { content: '\e836'; } /* '' */
.icon-download-alt:before { content: '\e837'; } /* '' */
.icon-lightbulb-1:before { content: '\e838'; } /* '' */
.icon-pencil:before { content: '\e839'; } /* '' */
.icon-doc:before { content: '\e83a'; } /* '' */
.icon-params:before { content: '\e83b'; } /* '' */
.icon-lightbulb-2:before { content: '\e83c'; } /* '' */
.icon-link:before { content: '\e83d'; } /* '' */
.icon-link-ext:before { content: '\e83e'; } /* '' */
.icon-link-ext-alt:before { content: '\e83f'; } /* '' */
.icon-gauge:before { content: '\e840'; } /* '' */
.icon-gauge-1:before { content: '\e841'; } /* '' */
.icon-print:before { content: '\e842'; } /* '' */
.icon-chart-bar:before { content: '\e843'; } /* '' */
.icon-chart-pie:before { content: '\e844'; } /* '' */
.icon-cancel:before { content: '\e845'; } /* '' */
.icon-ok:before { content: '\e846'; } /* '' */
.icon-picture:before { content: '\e847'; } /* '' */
.icon-trash:before { content: '\e848'; } /* '' */
.icon-doc-text-inv:before { content: '\e849'; } /* '' */
.icon-pin:before { content: '\e84a'; } /* '' */
.icon-bank:before { content: '\e84b'; } /* '' */
.icon-chat-2:before { content: '\e84c'; } /* '' */
.icon-toggle-on:before { content: '\e84d'; } /* '' */
.icon-pencil-1:before { content: '\e84e'; } /* '' */
.icon-help-circled:before { content: '\e84f'; } /* '' */
.icon-help-circled-alt:before { content: '\e850'; } /* '' */
.icon-clone-plus:before { content: '\e851'; } /* '' */
.icon-publish:before { content: '\e852'; } /* '' */
.icon-lock:before { content: '\e853'; } /* '' */
.icon-star:before { content: '\e854'; } /* '' */
.icon-star-empty:before { content: '\e855'; } /* '' */
.icon-star-half:before { content: '\e856'; } /* '' */
.icon-star-half-alt:before { content: '\e857'; } /* '' */
.icon-globe-alt-outline:before { content: '\e858'; } /* '' */
.icon-globe-alt:before { content: '\e859'; } /* '' */
.icon-arrows-cw:before { content: '\e85a'; } /* '' */
.icon-address:before { content: '\e85b'; } /* '' */
.icon-chart-pie-1:before { content: '\e85c'; } /* '' */
.icon-key:before { content: '\e85d'; } /* '' */
.icon-bookmark-empty:before { content: '\e85e'; } /* '' */
.icon-key-1:before { content: '\e85f'; } /* '' */
.icon-pencil-2:before { content: '\e860'; } /* '' */
.icon-level-up:before { content: '\e861'; } /* '' */
.icon-undo:before { content: '\e862'; } /* '' */
.icon-plus-squared:before { content: '\e863'; } /* '' */
.icon-minus:before { content: '\e864'; } /* '' */
.icon-attention-circled:before { content: '\e865'; } /* '' */
.icon-switch:before { content: '\e866'; } /* '' */
.icon-orientation-portrait:before { content: '\e867'; } /* '' */
.icon-orientation-landscape:before { content: '\e868'; } /* '' */
.icon-file-word:before { content: '\e869'; } /* '' */
.icon-plus:before { content: '\e86a'; } /* '' */
.icon-comms:before { content: '\e86b'; } /* '' */
.icon-docs:before { content: '\e86c'; } /* '' */
.icon-doc-text:before { content: '\e86d'; } /* '' */
.icon-megaphone:before { content: '\e86e'; } /* '' */
.icon-resize-full:before { content: '\e86f'; } /* '' */
.icon-down-big:before { content: '\e8ba'; } /* '' */
.icon-up-big:before { content: '\e8bd'; } /* '' */
.icon-list-numbered:before { content: '\e902'; } /* '' */
.icon-table:before { content: '\e907'; } /* '' */
.icon-check:before { content: '\e91a'; } /* '' */
.icon-check-empty:before { content: '\e91b'; } /* '' */
.icon-sort:before { content: '\e947'; } /* '' */
.icon-sort-down:before { content: '\e948'; } /* '' */
.icon-logout:before { content: '\f02d'; } /* '' */
.icon-upload:before { content: '\f02f'; } /* '' */
.icon-move:before { content: '\f047'; } /* '' */
.icon-clone:before { content: '\f24d'; } /* '' */
.icon-map-signs:before { content: '\f277'; } /* '' */
.icon-user-circle:before { content: '\f2bd'; } /* '' */
.icon-user-circle-o:before { content: '\f2be'; } /* '' */