@charset "utf-8";
/* CSS Document */


/* Color Palette:

#212721 - black
#438FB2 - turquoise
#003B56 - dark green
*/


html, body {
    height: 100%;
}

* {
	box-sizing: border-box;
	-webkit-print-color-adjust: exact;
}

body  {
margin: 0;
font-family: 'Yanone Kaffeesatz', sans-serif;	
font-size: 13pt;
line-height: 120%;
font-style: normal;
color: #212721;
vertical-align: top;
text-align: left;
background-color:#FFF;
padding:0px;
}

H1, H2, H3, H4, H5, H6 { 
font-family: 'Yanone Kaffeesatz', sans-serif;	
}

H1 {
font-size: 400%;
letter-spacing:3px;
text-transform:uppercase;
font-weight:300;
vertical-align:bottom;
color:#37475A;
margin-bottom: 0px;
line-height: 100%;
}

H2 {
font-size: 180%;
font-weight:400;
letter-spacing:1px;
margin-bottom:0px;
color: #0A97E8;
line-height: 100%;
}

H3 {
font-size: 140%;
font-weight: 400;
line-height: 120%;
}


H4 {
font-size: 110%;
font-weight:600;
}

/** New Tools Area Layout **/

#layout 
{
    display: flex;
  
}

#layout .content {
    flex: 1;
    margin: 0 20px;
}

#layout .content #container
{
	margin-top: 0;
}

#leftnav {
    background-color: #37475A;
    color: #ABD3EB;
    width: 300px;
    padding: 20px;
	font-size: 120%;
	font-weight: 300;
	letter-spacing: 1px;
}

.blue_panel {
background-color: #ABD3EB;
width: 100%;
margin: 0px;
padding: 20px 50px;
min-height: 400px;
	
}

.container {
width: 100%;
}

#content {
padding: 15px 50px;
}

.box{
width: 250px;
height: 300px;
padding: 15px;
}

.box img {
width: 50px;
float:left;
margin-right: 12px;	
}


.photo {
width: 300px;
position: absolute;
top: 20px;
display: block;
}

.photo img {
width: 250px;
border-radius: 50%;
display: block;
}

.footer {
min-height: 100px;
color: #222;
padding: 30px;
background-color: #eee;
text-align: center;
}

.card {
width: 90%;
padding: 20px;
height: 100px;
margin-bottom: 40px;
line-height: 130%;

}

.card h2 {
	float:left;
	margin-right: 30px;
	text-transform: uppercase;
	font-size: 110%;
	width: 200px;
	color: #333;
	margin-bottom: 15px;

}

.card  img {
    height: 42px;
    float: left;
    margin-right: 15px;
    margin-top: -10px;
	margin-bottom: 15px
}