@charset "utf-8";
/* CSS Document */

/*  GO FULL WIDTH BELOW 1200 PIXELS */
@media only screen and (max-width: 1200px) {
	#content{
	width:	100%;
	padding: 20px;
	}
}


/*  GO FULL WIDTH BELOW 800 PIXELS */
@media only screen and (max-width: 800px) {
	.photo img{
	width:	100px;
	}
	
	#leftnav {
    width: 120px;
    padding: 12px;
    font-size: 80%;
}
	
	.blue_panel {
    width: 100%;
    padding: 20px 20px;
}
	.box {
    width: 100%;
    height: auto;
    padding: 12px;
	font-size: 80%;
}
	
	.box h3 {
    font-size: 100%;
	}

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
	.col {  margin: 1% 0 1% 0%; }
	.span_1_of_8, .span_2_of_8, .span_3_of_8, .span_4_of_8, .span_5_of_8, .span_6_of_8, .span_7_of_8, .span_8_of_8 { width: 100%; }
}

@media only screen and (max-width: 480px) {
	.col {  margin: 1% 0 1% 0%; }
	.span_1_of_5, .span_2_of_5, .span_3_of_5, .span_4_of_5, .span_5_of_5 { width: 100%; }
}
