@charset "utf-8";
/* CSS Document */

/*  GO FULL WIDTH BELOW 1200 PIXELS */
@media only screen and (max-width: 1200px) {
	#content  {
	width:	100%;
	padding: 20px;	
	}
	
.sub_content {
    padding: 10px;
    width: 100%;
    margin: auto;
}	
	
}

/*  GO FULL WIDTH BELOW 800 PIXELS */
@media only screen and (max-width: 800px) {
#leftnav .photo img {
width: 100px;
height: 100px;
	}
	
#leftnav {
    width: 180px;
    padding: 12px;
    font-size: 70%;
}
	
#leftnav img {
    height: 14px;
}
	
.blue_panel {
    width: 100%;
    padding: 20px 20px;
}
	
.box {
    width: 100%;
    height: auto;
    padding: 12px;
	font-size: 80%;
}
	
.box h3 {
    font-size: 130%;
	}
	
	#info {
	margin-top: 120px;
}

#header h1{
 	font-size: 200%;
	font-weight: 500;
	
}	

#header h2 {
		font-size: 100%
	}
	
.col.span_1_of_2
	{
		width: 100%;
	}

.col.span_1_of_3
	{
		width: 100%;
	}
	
.col.span_2_of_3 {

    width: 100%;

}

.col.span_1_of_4 {

    width: 100%;

}

.gray_panel {
	padding: 12px 20px;
	font-size: 100%;
	}
	
.white_panel {
	padding: 12px 20px;
	font-size: 100%;
	}	
	
.blue_gray_panel {
	padding: 12px 20px;
	font-size: 100%;		
	}	
	
#header_panel {
padding: 20px;
}	
	
}
/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
	.col {  margin: 1% 0 1% 0%; }
	.span_1_of_8, .span_2_of_8, .span_3_of_8, .span_4_of_8, .span_5_of_8, .span_6_of_8, .span_7_of_8, .span_8_of_8 { width: 100%; }
}

@media only screen and (max-width: 480px) {
	.col {  margin: 1% 0 1% 0%; }
	.span_1_of_5, .span_2_of_5, .span_3_of_5, .span_4_of_5, .span_5_of_5 { width: 100%; }

#utility_bar h1 {
    font-size: 90%;
    margin-top: 5px;
    margin-left: 120px;
	letter-spacing: 1px;
}

#utility_bar {
    height: 80px;
    padding-top: 10px;
}

#utility_bar i {
    margin-right: 5px;
    margin-left: 1px;
}

.nav_links {
    float: right;
    padding-right: 10px;
    margin-top: 8px;
    font-size: 70%;
}
}